{
    "openapi": "3.0.1",
    "info": {
        "title": "Industrial Maintenance Scheduling API",
        "description": "API for managing technician schedules and maintenance job bookings",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://ibm-aiclass-apim.azure-api.net/maintenance"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Health check endpoint",
                "description": "Health check endpoint",
                "operationId": "root__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/technicians": {
            "get": {
                "summary": "Get all technicians",
                "description": "Retrieve all technicians with their current status and specializations",
                "operationId": "get_technicians_technicians_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Get Technicians Technicians Get",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Technician"
                                    }
                                },
                                "example": [
                                    {
                                        "technician_id": "string",
                                        "name": "string",
                                        "specialization": [
                                            "string"
                                        ],
                                        "skill_level": "string",
                                        "status": "available",
                                        "current_location": "string",
                                        "contact_phone": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/technicians/available": {
            "get": {
                "summary": "Get available technicians",
                "description": "Retrieve only technicians who are currently available for work",
                "operationId": "get_available_technicians_technicians_available_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Get Available Technicians Technicians Available Get",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Technician"
                                    }
                                },
                                "example": [
                                    {
                                        "technician_id": "string",
                                        "name": "string",
                                        "specialization": [
                                            "string"
                                        ],
                                        "skill_level": "string",
                                        "status": "available",
                                        "current_location": "string",
                                        "contact_phone": "string"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/technicians/{technician_id}": {
            "get": {
                "summary": "Get specific technician",
                "description": "Retrieve details of a specific technician",
                "operationId": "get_technician_technicians__technician_id__get",
                "parameters": [
                    {
                        "name": "technician_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "title": "Technician Id",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Technician"
                                },
                                "example": {
                                    "technician_id": "string",
                                    "name": "string",
                                    "specialization": [
                                        "string"
                                    ],
                                    "skill_level": "string",
                                    "status": "available",
                                    "current_location": "string",
                                    "contact_phone": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/schedule/next-available": {
            "get": {
                "summary": "Get next available maintenance slot",
                "description": "Find the next available maintenance slot across all technicians",
                "operationId": "get_next_available_slot_schedule_next_available_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/schedule/technician/{technician_id}": {
            "get": {
                "summary": "Get technician schedule",
                "description": "Get the schedule for a specific technician for the next N days",
                "operationId": "get_technician_schedule_schedule_technician__technician_id__get",
                "parameters": [
                    {
                        "name": "technician_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "title": "Technician Id",
                            "type": "string"
                        }
                    },
                    {
                        "name": "days",
                        "in": "query",
                        "schema": {
                            "title": "Days",
                            "type": "integer",
                            "default": 7
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Get Technician Schedule Schedule Technician  Technician Id  Get",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ScheduleSlot"
                                    }
                                },
                                "example": [
                                    {
                                        "slot_id": "string",
                                        "technician_id": "string",
                                        "date": "string",
                                        "start_time": "string",
                                        "end_time": "string",
                                        "available": true,
                                        "location": {}
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/book": {
            "post": {
                "summary": "Book a maintenance job",
                "description": "Book a new maintenance job with automatic technician assignment",
                "operationId": "book_maintenance_job_jobs_book_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JobBookingRequest"
                            },
                            "example": {
                                "machine_id": "string",
                                "error_code": {},
                                "description": "string",
                                "priority": "low",
                                "estimated_duration_hours": 0,
                                "preferred_date": {},
                                "requested_by": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JobBookingResponse"
                                },
                                "example": {
                                    "job_id": "string",
                                    "assigned_technician": "string",
                                    "scheduled_date": "string",
                                    "scheduled_time": "string",
                                    "estimated_completion": "string",
                                    "status": "string",
                                    "priority": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs": {
            "get": {
                "summary": "Get all maintenance jobs",
                "description": "Retrieve all maintenance jobs",
                "operationId": "get_all_jobs_jobs_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Get All Jobs Jobs Get",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MaintenanceJob"
                                    }
                                },
                                "example": [
                                    {
                                        "job_id": "string",
                                        "machine_id": "string",
                                        "error_code": {},
                                        "description": "string",
                                        "priority": "low",
                                        "estimated_duration_hours": 0,
                                        "assigned_technician_id": {},
                                        "scheduled_date": {},
                                        "scheduled_time": {},
                                        "status": "scheduled",
                                        "created_at": "string",
                                        "notes": {}
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{job_id}": {
            "get": {
                "summary": "Get specific job",
                "description": "Retrieve details of a specific maintenance job",
                "operationId": "get_job_jobs__job_id__get",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "title": "Job Id",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MaintenanceJob"
                                },
                                "example": {
                                    "job_id": "string",
                                    "machine_id": "string",
                                    "error_code": {},
                                    "description": "string",
                                    "priority": "low",
                                    "estimated_duration_hours": 0,
                                    "assigned_technician_id": {},
                                    "scheduled_date": {},
                                    "scheduled_time": {},
                                    "status": "scheduled",
                                    "created_at": "string",
                                    "notes": {}
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/status/{status}": {
            "get": {
                "summary": "Get jobs by status",
                "description": "Retrieve all jobs with a specific status",
                "operationId": "get_jobs_by_status_jobs_status__status__get",
                "parameters": [
                    {
                        "name": "status",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/JobStatus"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "Response Get Jobs By Status Jobs Status  Status  Get",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MaintenanceJob"
                                    }
                                },
                                "example": [
                                    {
                                        "job_id": "string",
                                        "machine_id": "string",
                                        "error_code": {},
                                        "description": "string",
                                        "priority": "low",
                                        "estimated_duration_hours": 0,
                                        "assigned_technician_id": {},
                                        "scheduled_date": {},
                                        "scheduled_time": {},
                                        "status": "scheduled",
                                        "created_at": "string",
                                        "notes": {}
                                    }
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/jobs/{job_id}/status": {
            "put": {
                "summary": "Update job status",
                "description": "Update the status of a maintenance job",
                "operationId": "update_job_status_jobs__job_id__status_put",
                "parameters": [
                    {
                        "name": "job_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "title": "Job Id",
                            "type": "string"
                        }
                    },
                    {
                        "name": "new_status",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/JobStatus"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                },
                                "example": {
                                    "detail": [
                                        {
                                            "loc": [
                                                {}
                                            ],
                                            "msg": "string",
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "HTTPValidationError": {
                "title": "HTTPValidationError",
                "type": "object",
                "properties": {
                    "detail": {
                        "title": "Detail",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        }
                    }
                }
            },
            "JobBookingRequest": {
                "title": "JobBookingRequest",
                "required": [
                    "machine_id",
                    "description",
                    "priority",
                    "estimated_duration_hours",
                    "requested_by"
                ],
                "type": "object",
                "properties": {
                    "machine_id": {
                        "title": "Machine Id",
                        "type": "string"
                    },
                    "error_code": {
                        "title": "Error Code",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "description": {
                        "title": "Description",
                        "type": "string"
                    },
                    "priority": {
                        "$ref": "#/components/schemas/JobPriority"
                    },
                    "estimated_duration_hours": {
                        "title": "Estimated Duration Hours",
                        "type": "number"
                    },
                    "preferred_date": {
                        "title": "Preferred Date",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "requested_by": {
                        "title": "Requested By",
                        "type": "string"
                    }
                }
            },
            "JobBookingResponse": {
                "title": "JobBookingResponse",
                "required": [
                    "job_id",
                    "assigned_technician",
                    "scheduled_date",
                    "scheduled_time",
                    "estimated_completion",
                    "status",
                    "priority"
                ],
                "type": "object",
                "properties": {
                    "job_id": {
                        "title": "Job Id",
                        "type": "string"
                    },
                    "assigned_technician": {
                        "title": "Assigned Technician",
                        "type": "string"
                    },
                    "scheduled_date": {
                        "title": "Scheduled Date",
                        "type": "string"
                    },
                    "scheduled_time": {
                        "title": "Scheduled Time",
                        "type": "string"
                    },
                    "estimated_completion": {
                        "title": "Estimated Completion",
                        "type": "string"
                    },
                    "status": {
                        "title": "Status",
                        "type": "string"
                    },
                    "priority": {
                        "title": "Priority",
                        "type": "string"
                    }
                }
            },
            "JobPriority": {
                "title": "JobPriority",
                "enum": [
                    "low",
                    "medium",
                    "high",
                    "critical"
                ],
                "type": "string"
            },
            "JobStatus": {
                "title": "JobStatus",
                "enum": [
                    "scheduled",
                    "in_progress",
                    "completed",
                    "cancelled"
                ],
                "type": "string"
            },
            "MaintenanceJob": {
                "title": "MaintenanceJob",
                "required": [
                    "job_id",
                    "machine_id",
                    "description",
                    "priority",
                    "estimated_duration_hours",
                    "status",
                    "created_at"
                ],
                "type": "object",
                "properties": {
                    "job_id": {
                        "title": "Job Id",
                        "type": "string"
                    },
                    "machine_id": {
                        "title": "Machine Id",
                        "type": "string"
                    },
                    "error_code": {
                        "title": "Error Code",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "description": {
                        "title": "Description",
                        "type": "string"
                    },
                    "priority": {
                        "$ref": "#/components/schemas/JobPriority"
                    },
                    "estimated_duration_hours": {
                        "title": "Estimated Duration Hours",
                        "type": "number"
                    },
                    "assigned_technician_id": {
                        "title": "Assigned Technician Id",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "scheduled_date": {
                        "title": "Scheduled Date",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "scheduled_time": {
                        "title": "Scheduled Time",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "status": {
                        "$ref": "#/components/schemas/JobStatus"
                    },
                    "created_at": {
                        "title": "Created At",
                        "type": "string"
                    },
                    "notes": {
                        "title": "Notes",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                }
            },
            "ScheduleSlot": {
                "title": "ScheduleSlot",
                "required": [
                    "slot_id",
                    "technician_id",
                    "date",
                    "start_time",
                    "end_time",
                    "available"
                ],
                "type": "object",
                "properties": {
                    "slot_id": {
                        "title": "Slot Id",
                        "type": "string"
                    },
                    "technician_id": {
                        "title": "Technician Id",
                        "type": "string"
                    },
                    "date": {
                        "title": "Date",
                        "type": "string"
                    },
                    "start_time": {
                        "title": "Start Time",
                        "type": "string"
                    },
                    "end_time": {
                        "title": "End Time",
                        "type": "string"
                    },
                    "available": {
                        "title": "Available",
                        "type": "boolean"
                    },
                    "location": {
                        "title": "Location",
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    }
                }
            },
            "Technician": {
                "title": "Technician",
                "required": [
                    "technician_id",
                    "name",
                    "specialization",
                    "skill_level",
                    "status",
                    "current_location",
                    "contact_phone"
                ],
                "type": "object",
                "properties": {
                    "technician_id": {
                        "title": "Technician Id",
                        "type": "string"
                    },
                    "name": {
                        "title": "Name",
                        "type": "string"
                    },
                    "specialization": {
                        "title": "Specialization",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "skill_level": {
                        "title": "Skill Level",
                        "type": "string"
                    },
                    "status": {
                        "$ref": "#/components/schemas/TechnicianStatus"
                    },
                    "current_location": {
                        "title": "Current Location",
                        "type": "string"
                    },
                    "contact_phone": {
                        "title": "Contact Phone",
                        "type": "string"
                    }
                }
            },
            "TechnicianStatus": {
                "title": "TechnicianStatus",
                "enum": [
                    "available",
                    "busy",
                    "off_duty"
                ],
                "type": "string"
            },
            "ValidationError": {
                "title": "ValidationError",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "loc": {
                        "title": "Location",
                        "type": "array",
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        }
                    },
                    "msg": {
                        "title": "Message",
                        "type": "string"
                    },
                    "type": {
                        "title": "Error Type",
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}